.navbar-brand {
  color: black;
  margin-left: 1rem;
  margin-right: 0;
  font-weight: 600;
  text-shadow: 1px 0.5px rgba(0, 0, 0, 0.3);
}

.locate {
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}

.locate img {
  width: 50px;
  cursor: pointer;
}

.search {
  border-radius: 50px;
  width: 400px;
  z-index: 10;
}
.search:hover {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

.search input {
  border-radius: 50px;
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 10;
  text-shadow: 1px 0.5px rgba(0, 0, 0, 0.3);
}

.search input:focus {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1),
    inset 0 15px 50px 0 rgba(0, 0, 0, 0.1);
  outline: none;
}

[data-reach-combobox] {
  display: flex;
}

[data-reach-popover] {
  z-index: 10;
}

.navbar-nav .btn {
  border: 0;
  border-radius: 50px;
  background-color: transparent;
  color: #007bff;
  font-weight: 600;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.navbar {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.25);
  left: 0;
  margin: auto;
  position: absolute !important;
  right: 0;
  top: 2rem;
  width: 90%;
  z-index: 1;
}
.navbar:hover {
  box-shadow: 5px 35px 50px 0 rgba(0, 0, 0, 0.25);
}

[data-reach-combobox-popover] {
  background: hsla(0, 100%, 100%, 0.99);
  border: none !important;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  flex: 100%;
  font-size: 85%;
  font-size: 16px;
  position: absolute;
  left: 341px;
  top: 78.5px;
  outline: none;
  margin-top: 9px;
  padding: 1rem;
  transform: translateY(-0.5rem);
  width: 400px;
  z-index: 2;
}

[data-reach-combobox-option] {
  border-radius: 1rem;
  font-size: small;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
  justify-content: flex-end;
  vertical-align: middle;
  width: 100%;
}

.mr-auto div {
  margin: auto 0;
}

.filter {
  border: none !important;
  border-radius: 50px;
  color: black;
  margin: auto auto auto 20px;
  width: 160px;
  z-index: 2;
  text-shadow: 1px 0.5px rgba(0, 0, 0, 0.3);
}
.radius {
  border: none !important;
  border-radius: 50px;
  color: black;
  margin: auto auto auto 20px;
  width: 150px;
  z-index: 2;
  text-shadow: 1px 0.5px rgba(0, 0, 0, 0.3);
}
.filter:hover {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}
.radius:hover {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

#button--listbox-input--2 {
  border: none;
}
#button--listbox-input--3 {
  border: none;
}

[data-reach-listbox-popover]:focus-within {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1) !important;
  outline: transparent !important;
}

[data-reach-listbox-popover] {
  margin-top: 9px;
  margin-left: 3px;
  border: none !important;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background: hsla(0, 100%, 100%, 0.99);
  padding: 1rem;
}
