.navbar-brand {
  color: black;
  margin-left: 1rem;
  margin-right: 0;
  font-weight: 600;
}

.locate {
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}

.locate img {
  width: 50px;
  cursor: pointer;
}

.search {
  /* padding: 0.5rem; */
  width: 400px;
  z-index: 10;
  /* border-bottom: 1px solid #f2f2f2; */
}

.search input {
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 10;
}

.search input:focus {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1), inset 0 15px 50px 0 rgba(0, 0, 0, 0.1);
  outline: none;
}

[data-reach-combobox] {
  display: flex;
}

.navbar-nav .btn {
  border:0;
  border-radius: 50px;
  background-color: transparent;
  color: #007bff;
  font-weight: 600;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.navbar {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 25px 50px 0 rgba(0,0,0,0.25);
  left: 0;
  margin: auto;
  position: absolute !important;
  right: 0;
  top: 2rem;
  width: 90%;
  z-index: 1;
}

[data-reach-combobox-popover] {
  background: hsla(0, 100%, 100%, 0.99);
  border: none !important;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  flex: 100%;
  font-size: 85%;
  font-size: 16px;
  position: absolute;
  left: 341px;
  top: 78.5px;
  outline: none;
  margin-top: 9px;
  padding: 1rem;
  transform: translateY(-0.5rem);
  width: 400px;
  z-index: 2;
}

[data-reach-combobox-option] {
  border-radius: 1rem;
  font-size: small;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
  justify-content: flex-end;
  vertical-align: middle;
  width: 100%;
}

.mr-auto div{
  margin: auto 0;
}

.filter {
  width: 200px;
  color: white;
  margin: auto;
  padding-top: 0.5rem;
  z-index: 2;
}

