.gm-style .gm-style-iw-c {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  font-size: 13px;
  transform: translate(-50%, -100%);
  background-color: white;
  border-radius: 40px !important;
  padding: 15px !important;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  line-height: 0;
  z-index: 10;
}

.rating {
  font-size: 13px;
}
.gm-ui-hover-effect {
  top: 8px !important;
  right: 10px !important;
}

.share-btn {
  border: none;
  background-color: white;
  color: #04a4e7;
  float: right;
}

.travel-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  height: 5rem;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  padding-top: 3rem;
  border-radius: 1rem;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}
.travel-div p {
  padding: 5px;
}

.types {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

legend.MuiTypography-root.MuiTypography-body1 {
  font-weight: 600;
}
h1.MuiTypography-root.MuiTypography-body1 {
  font-size: x-large;
  font-weight: 600;
}
span.MuiTypography-root.MuiTypography-body1 {
  font-size: small;
  font-weight: 600;
}
p.MuiTypography-root.MuiTypography-body1 {
  font-size: small;
  font-weight: 600;
  /* text-align: center; */
}
.stars {
  color: #04a4e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.types img {
  width: 30px;
  height: 30px;
}
