.gm-style .gm-style-iw-c {
  position: absolute;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  font-size: 13px;
  transform: translate(-50%,-100%);
  background-color: white;
  border-radius: 40px !important;
  padding: 15px !important;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
  line-height: 0;
}

.rating {
  font-size: 13px;
}


